.search-panel {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-panel-container {
  display: flex;
  gap: 8px;
}

.search-panel-input {
  padding: 8px;
  border-radius: 8px;
  border: 3px solid #dfe8f3;
  width: 700px;
  font-size: 16px;
}
