.text {
  margin: 0;
  line-height: 1.4;
  font-family: 'PT Serif', serif;
  color: inherit;
}

.text-title {
  font-size: 32px;
}

.text-navigation {
  font-size: 28px;
}

.text-subtitle {
  font-size: 20px;
}

.text-body {
  font-size: 16px;
}

.text-caption {
  font-size: 14px;
}

.text-tag {
  font-size: 12px;
}

.text-regular {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

.text-primary {
  color: #000000;
}

.text-header {
  color: blanchedalmond;
}

.text-secondary {
  color: #ffffff;
}

.text-accent {
  color: #3a84f4;
}

.text-danger {
  color: #ff4d4f;
}
